body{
    min-height:100vh;
    overflow-x:hidden;
}

body.light-mode{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color:#000000;
}

.light-mode .hero{
    background-image: url(../assets/img_light.png);
    min-height: 100vh;
}

.dark-mode .hero{
    background-image: url(../assets/img_dark.png);
    min-height: 100vh;
}

.light-mode .card{
    background: linear-gradient(to right,#0956e4 ,#FFFFFF);
    color:black;
    border-radius: 20px;
}

.light-mode .navbar-brand{
    color:black;
}

#themeBtn{
    width:48px;
    height:48px;
    border:none;
    cursor:pointer;
}

body.light-mode #themeBtn{
    background:white;
    color:#000000;
    box-shadow:0 6px 20px rgba(0,0,0,.15);
}

body.dark-mode #themeBtn{
    background-color: #000000;
    color:white;
    backdrop-filter:blur(10px);
}

.btn-custom{
    background: #0956e4;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
}

.btn-custom:hover{
    background-color: aliceblue;
    color:rgb(0, 0, 0)
}

.container-custom{
    margin-top: 100px;
}

body.dark-mode{
    background-color: #000000;
    color:white;
}

.dark-mode .navbar-brand{
    color:#FFFFFF;
}

.dark-mode .card{
    background:#fbf7f7;
    color:rgb(29, 28, 28);
    border-radius: 20px;
}

.card:hover{
    transform: translateY(-5px);
}

.dark-mode footer{
    background:black !important;
}

.card{
    height:100px;
    padding:30px;
}
